body{
    background: rgb(3, 17, 36);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.568);
     
}

div {
    text-align: center;
    padding: auto;
}

table {
    border-style: groove;
    margin: auto;
}

tr {
    border-style: groove;
    
}

#principal {
    border-style: solid;
    padding: auto;
    font-style: oblique;
    font-weight: bolder;       
}

#minhaTabela {
    font-size: 13px;
    padding: auto;
    font-style: italic;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;

}

